/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2017 (14.0.1000)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Express Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2017
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Standard Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [DiscretMathBD]    Script Date: 14.06.2023 8:41:50 ******/
CREATE DATABASE [DiscretMathBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DiscretMathBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DiscretMathBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DiscretMathBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DiscretMathBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DiscretMathBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DiscretMathBD]
GO
USE [DiscretMathBD]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 14.06.2023 8:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
	[IsRight] [bit] NOT NULL,
	[QuestionId] [int] NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IndexNumber] [int] NOT NULL,
 CONSTRAINT [PK_Chapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ControlPoint]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlPoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[TaskTitle] [nvarchar](1000) NULL,
	[AnswerTitle] [nvarchar](1000) NULL,
	[IndexNumber] [int] NOT NULL,
	[TaskLink] [nvarchar](100) NULL,
	[AnswerLink] [nvarchar](100) NULL,
 CONSTRAINT [PK_ControlPoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](1000) NOT NULL,
	[Image] [nvarchar](1000) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Grade] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGroup]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_StudentGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IndexNumber] [int] NOT NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestProgress]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestProgress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[AnswerId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
 CONSTRAINT [PK_TestProgress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestQuestion]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestQuestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[TestId] [int] NOT NULL,
	[IndexNumber] [int] NOT NULL,
 CONSTRAINT [PK_TestQuestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[TotalHours] [int] NOT NULL,
	[ChapterId] [int] NOT NULL,
	[IndexNumber] [int] NOT NULL,
	[TopicTypeId] [int] NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicContent]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[TopicTitle] [nvarchar](max) NULL,
	[TopicLink] [nvarchar](1000) NULL,
	[IndexNumber] [int] NOT NULL,
 CONSTRAINT [PK_TopicContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicType]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TopicType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Surname] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[Patronymic] [nvarchar](100) NULL,
	[DateOfRegs] [date] NOT NULL,
	[StudentGroupId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserControlPoint]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserControlPoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ControlPointId] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[AnswerLink] [nvarchar](1000) NULL,
	[Result] [int] NULL,
 CONSTRAINT [PK_UserControlPoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTestResults]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTestResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[Result] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TestResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTopicContent]    Script Date: 14.06.2023 8:41:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTopicContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[TopicContentId] [int] NOT NULL,
	[IsStudied] [bit] NOT NULL,
 CONSTRAINT [PK_CourseProgress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([Id], [Title], [IsRight], [QuestionId]) VALUES (44, N'{1,2,2,3,4,4,5,6} ', 0, 9)
INSERT [dbo].[Answer] ([Id], [Title], [IsRight], [QuestionId]) VALUES (45, N'{1,2,3,4,5,6} ', 1, 9)
INSERT [dbo].[Answer] ([Id], [Title], [IsRight], [QuestionId]) VALUES (46, N'{1,3} ', 0, 9)
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[Chapter] ON 

INSERT [dbo].[Chapter] ([Id], [Title], [Description], [IndexNumber]) VALUES (1, N'Теория множеств', NULL, 1)
INSERT [dbo].[Chapter] ([Id], [Title], [Description], [IndexNumber]) VALUES (2, N'Теория отношений', NULL, 2)
INSERT [dbo].[Chapter] ([Id], [Title], [Description], [IndexNumber]) VALUES (3, N'Элементы математической логики', NULL, 3)
SET IDENTITY_INSERT [dbo].[Chapter] OFF
SET IDENTITY_INSERT [dbo].[ControlPoint] ON 

INSERT [dbo].[ControlPoint] ([Id], [TopicId], [TaskTitle], [AnswerTitle], [IndexNumber], [TaskLink], [AnswerLink]) VALUES (24, 11, N'', N'1', 1, N'задания_графы.pdf', NULL)
INSERT [dbo].[ControlPoint] ([Id], [TopicId], [TaskTitle], [AnswerTitle], [IndexNumber], [TaskLink], [AnswerLink]) VALUES (25, 17, N'', N'1', 1, N'3тема_отношения.pdf', NULL)
INSERT [dbo].[ControlPoint] ([Id], [TopicId], [TaskTitle], [AnswerTitle], [IndexNumber], [TaskLink], [AnswerLink]) VALUES (26, 16, N'', N'-', 1, N'задания_заочники.pdf', NULL)
SET IDENTITY_INSERT [dbo].[ControlPoint] OFF
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([Id], [Title], [Image], [Description]) VALUES (9, N'Дано универсальное множество U={1,2,3,4,5,6,7} и в нем подмножества A={x| x < 5}, B={2,4,5,6}, C={1,3,5,6}.  Найти A V B (Указать правильные варианты ответов).', N'21.jpg', N'Найти множества')
INSERT [dbo].[Question] ([Id], [Title], [Image], [Description]) VALUES (10, N'Дано универсальное множество U={1,2,3,4,5,6,7} и в нем подмножества A={x| x < 4}, B={2,4,5,7}, C={1,2,5,6}. Найдите С V B', N'22.jpg', N'Найти множества')
INSERT [dbo].[Question] ([Id], [Title], [Image], [Description]) VALUES (11, N'Дано универсальное множество U={1,2,3,4,5,6,7} и в нем подмножества A={x| x > 4}, B={3,5,7}, C={1,2,4,6}. Найти B V C', N'23.jpg', N'Найти множество')
SET IDENTITY_INSERT [dbo].[Question] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Title], [Grade]) VALUES (1, N'студент', 0)
INSERT [dbo].[Role] ([Id], [Title], [Grade]) VALUES (2, N'администратор', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[StudentGroup] ON 

INSERT [dbo].[StudentGroup] ([Id], [Title]) VALUES (1, N'195')
INSERT [dbo].[StudentGroup] ([Id], [Title]) VALUES (2, N'197')
INSERT [dbo].[StudentGroup] ([Id], [Title]) VALUES (3, N'205')
SET IDENTITY_INSERT [dbo].[StudentGroup] OFF
SET IDENTITY_INSERT [dbo].[Topic] ON 

INSERT [dbo].[Topic] ([Id], [Title], [Description], [TotalHours], [ChapterId], [IndexNumber], [TopicTypeId]) VALUES (3, N'Основные понятия теории множеств', N'Множества. Способы задания множеств. Операции над множествами. Алгебра множеств (Булева алгебра). Свойства множеств и операций над ними.', 4, 1, 1, 1)
INSERT [dbo].[Topic] ([Id], [Title], [Description], [TotalHours], [ChapterId], [IndexNumber], [TopicTypeId]) VALUES (5, N'Бинарные отношения и соответствия', N'Отношения. Методы представление отношений. Свойства отношений. Композиция отношений. Транзитивное замыкание. Типы отношений. Отношение эквивалентности и его свойства. Отношение частичного порядка, частично упорядоченное множество. Отношение линейного порядка. Изоморфизм частично упорядоченных множеств.', 5, 2, 3, 1)
INSERT [dbo].[Topic] ([Id], [Title], [Description], [TotalHours], [ChapterId], [IndexNumber], [TopicTypeId]) VALUES (6, N'Основные классы функций', N'Функции. Область определения и область значений функции. Сюрьективная функция. Инъективная функция. Биективная функция. Композиция функций. Единичная функция, n-местная функция. Способы задания функция. Табличное задание функций. Композиция, подстановка функций, суперпозиция. Формула. ', 2, 3, 5, 1)
SET IDENTITY_INSERT [dbo].[Topic] OFF
SET IDENTITY_INSERT [dbo].[TopicContent] ON 

INSERT [dbo].[TopicContent] ([Id], [TopicId], [TopicTitle], [TopicLink], [IndexNumber]) VALUES (47, 3, N'K2_1.pdf', N'K2_1.pdf', 1)
INSERT [dbo].[TopicContent] ([Id], [TopicId], [TopicTitle], [TopicLink], [IndexNumber]) VALUES (48, 5, N'K3_1.pdf', N'K3_1.pdf', 1)
INSERT [dbo].[TopicContent] ([Id], [TopicId], [TopicTitle], [TopicLink], [IndexNumber]) VALUES (49, 5, N'K4_1.pdf', N'K4_1.pdf', 2)
SET IDENTITY_INSERT [dbo].[TopicContent] OFF
SET IDENTITY_INSERT [dbo].[TopicType] ON 

INSERT [dbo].[TopicType] ([Id], [Title]) VALUES (1, N'Лекция')
INSERT [dbo].[TopicType] ([Id], [Title]) VALUES (2, N'Практическое занятие')
INSERT [dbo].[TopicType] ([Id], [Title]) VALUES (3, N'Лабораторная работа')
SET IDENTITY_INSERT [dbo].[TopicType] OFF
INSERT [dbo].[User] ([UserName], [Password], [RoleId], [Surname], [Name], [Patronymic], [DateOfRegs], [StudentGroupId]) VALUES (N'admin', N'1', 2, N'Bill', N'Gates', NULL, CAST(N'2023-01-01' AS Date), NULL)
INSERT [dbo].[User] ([UserName], [Password], [RoleId], [Surname], [Name], [Patronymic], [DateOfRegs], [StudentGroupId]) VALUES (N'akus', N'1', 1, N'Иванова ', N'Светлана', NULL, CAST(N'2023-06-08' AS Date), 2)
INSERT [dbo].[User] ([UserName], [Password], [RoleId], [Surname], [Name], [Patronymic], [DateOfRegs], [StudentGroupId]) VALUES (N'god', N'11', 1, N'Петров', N'Дмитрий', N'Андреевич', CAST(N'2023-06-08' AS Date), 3)
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[ControlPoint]  WITH CHECK ADD  CONSTRAINT [FK_ControlPoint_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[ControlPoint] CHECK CONSTRAINT [FK_ControlPoint_Topic]
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD  CONSTRAINT [FK_Test_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[Test] CHECK CONSTRAINT [FK_Test_Topic]
GO
ALTER TABLE [dbo].[TestProgress]  WITH CHECK ADD  CONSTRAINT [FK_TestProgress_Answer] FOREIGN KEY([AnswerId])
REFERENCES [dbo].[Answer] ([Id])
GO
ALTER TABLE [dbo].[TestProgress] CHECK CONSTRAINT [FK_TestProgress_Answer]
GO
ALTER TABLE [dbo].[TestProgress]  WITH CHECK ADD  CONSTRAINT [FK_TestProgress_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[TestProgress] CHECK CONSTRAINT [FK_TestProgress_Question]
GO
ALTER TABLE [dbo].[TestProgress]  WITH CHECK ADD  CONSTRAINT [FK_TestProgress_Test] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([Id])
GO
ALTER TABLE [dbo].[TestProgress] CHECK CONSTRAINT [FK_TestProgress_Test]
GO
ALTER TABLE [dbo].[TestProgress]  WITH CHECK ADD  CONSTRAINT [FK_TestProgress_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[TestProgress] CHECK CONSTRAINT [FK_TestProgress_User]
GO
ALTER TABLE [dbo].[TestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_TestQuestion_Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Question] ([Id])
GO
ALTER TABLE [dbo].[TestQuestion] CHECK CONSTRAINT [FK_TestQuestion_Question]
GO
ALTER TABLE [dbo].[TestQuestion]  WITH CHECK ADD  CONSTRAINT [FK_TestQuestion_Test] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([Id])
GO
ALTER TABLE [dbo].[TestQuestion] CHECK CONSTRAINT [FK_TestQuestion_Test]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD  CONSTRAINT [FK_Topic_Chapter] FOREIGN KEY([ChapterId])
REFERENCES [dbo].[Chapter] ([Id])
GO
ALTER TABLE [dbo].[Topic] CHECK CONSTRAINT [FK_Topic_Chapter]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD  CONSTRAINT [FK_Topic_TopicType] FOREIGN KEY([TopicTypeId])
REFERENCES [dbo].[TopicType] ([Id])
GO
ALTER TABLE [dbo].[Topic] CHECK CONSTRAINT [FK_Topic_TopicType]
GO
ALTER TABLE [dbo].[TopicContent]  WITH CHECK ADD  CONSTRAINT [FK_TopicContent_Topic] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topic] ([Id])
GO
ALTER TABLE [dbo].[TopicContent] CHECK CONSTRAINT [FK_TopicContent_Topic]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_StudentGroup] FOREIGN KEY([StudentGroupId])
REFERENCES [dbo].[StudentGroup] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_StudentGroup]
GO
ALTER TABLE [dbo].[UserControlPoint]  WITH CHECK ADD  CONSTRAINT [FK_UserControlPoint_ControlPoint] FOREIGN KEY([ControlPointId])
REFERENCES [dbo].[ControlPoint] ([Id])
GO
ALTER TABLE [dbo].[UserControlPoint] CHECK CONSTRAINT [FK_UserControlPoint_ControlPoint]
GO
ALTER TABLE [dbo].[UserControlPoint]  WITH CHECK ADD  CONSTRAINT [FK_UserControlPoint_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[UserControlPoint] CHECK CONSTRAINT [FK_UserControlPoint_User]
GO
ALTER TABLE [dbo].[UserTestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_Test] FOREIGN KEY([TestId])
REFERENCES [dbo].[Test] ([Id])
GO
ALTER TABLE [dbo].[UserTestResults] CHECK CONSTRAINT [FK_TestResults_Test]
GO
ALTER TABLE [dbo].[UserTestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[UserTestResults] CHECK CONSTRAINT [FK_TestResults_User]
GO
ALTER TABLE [dbo].[UserTopicContent]  WITH CHECK ADD  CONSTRAINT [FK_CourseProgress_User] FOREIGN KEY([UserName])
REFERENCES [dbo].[User] ([UserName])
GO
ALTER TABLE [dbo].[UserTopicContent] CHECK CONSTRAINT [FK_CourseProgress_User]
GO
ALTER TABLE [dbo].[UserTopicContent]  WITH CHECK ADD  CONSTRAINT [FK_UserTopicContent_TopicContent] FOREIGN KEY([TopicContentId])
REFERENCES [dbo].[TopicContent] ([Id])
GO
ALTER TABLE [dbo].[UserTopicContent] CHECK CONSTRAINT [FK_UserTopicContent_TopicContent]
GO
USE [master]
GO
